<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Roles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Lista de Roles</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rol : ${roles}">
                    <td th:text="${rol.id}"></td>
                    <td th:text="${rol.nombre}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/roles/crear" class="btn btn-primary">Crear nuevo rol</a>
    </div>
</body>
</html>
