<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Roles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Listado de Roles</h1>
    <a href="/roles/form" class="btn btn-primary">Agregar Rol</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rol : ${roles}">
            <td th:text="${rol.id}"></td>
            <td th:text="${rol.nombre}"></td>
            <td>
                <a th:href="@{/roles/{id}(id=${rol.id})}" class="btn btn-info">Editar</a>
                <a th:href="@{/roles/delete/{id}(id=${rol.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
