<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Materia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Crear Materia</h1>
        <!-- Formulario para crear la materia -->
        <form th:action="@{/materias/guardar}" method="post">
            <div class="form-group">
                <label for="nombre_Materia">Nombre de la Materia</label>
                <input type="text" id="nombre_Materia" name="nombre_Materia" class="form-control" th:value="${materia.nombre_Materia}" required>
            </div>

            <div class="form-group">
                <label for="hora_incio">Hora de Inicio</label>
                <input type="text" id="hora_incio" name="hora_incio" class="form-control" th:value="${materia.hora_incio}" required>
            </div>

            <div class="form-group">
                <label for="hora_fin">Hora de Fin</label>
                <input type="text" id="hora_fin" name="hora_fin" class="form-control" th:value="${materia.hora_fin}" required>
            </div>

            <div class="form-group">
                <label for="curso">Curso</label>
                <select id="curso" name="curso.idCurso" class="form-control">
                    <option th:each="curso : ${cursos}" th:value="${curso.idCurso}" th:text="${curso.nombre_Curso}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
